@model NozomDashBoard.Models.DashBoardModel


<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/Scripts/server.js"></script>
    <script src="~/Scripts/DashBoard.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Table.js"></script>
</head>

<body onload="start()">
    <section>
        <div class="Title">
            <h1>DashBoard</h1>
        </div>
        <br />

        <div class="container-fluied">
            <div class="row">

                <!--Ahmad Mansy-->
                <div class="col-md-4">
                    <!--for demo wrap-->
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr>
                                    <th>Ahmad Mansy</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0" id="5">
                            <tbody>
                                @if (Model.m_AllTasks != null)
                                {
                                    foreach (var task in Model.m_AllTasks)
                                    {
                                        if (task.UserId == 5)
                                        {

                                            if (task.DeadLine.ToShortDateString() == DateTime.Now.ToShortDateString())
                                            {
                                                <tr style="background-color:#870505">
                                                    <td>
                                                        <a href="@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 5})" target="popup"
                                                           onclick="window.open('@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 5})', 'popup', 'width=600,height=600'); return false;">
                                                            @Html.DisplayName(task.Title)
                                                        </a>
                                                        @if (Model.isAdmin)
                                                        {
                                                            using (Html.BeginForm("FinishTask", "DashBoard", new { taskid = task.id, ProjectID = Model.m_CurrentProjectID }, FormMethod.Post))
                                                            {
                                                                <button type="submit" class="btn-block btn-success">Finished</button>
                                                            }

                                                        }
                                                    </td>
                                                </tr>
                                            }

                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        <a href="@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 5})"
                                                           onclick="window.open('@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 5})', 'popup', 'width=600,height=600'); return false;">
                                                            @Html.DisplayName(task.Title)
                                                        </a>
                                                        @if (Model.isAdmin)
                                                        {
                                                            using (Html.BeginForm("FinishTask", "DashBoard", new { taskid = task.id, ProjectID = Model.m_CurrentProjectID }, FormMethod.Post))
                                                            {
                                                                <button type="submit" class="btn-block btn-success">Finished</button>
                                                            }

                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Abdullah Sa'ad-->
                <div class="col-md-4">
                    <!--for demo wrap-->
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0" id="4">
                            <thead>
                                <tr>
                                    <th>Abdullah Sa'ad</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                @if (Model.m_AllTasks != null)
                                {
                                    foreach (var task in Model.m_AllTasks)
                                    {
                                        if (task.UserId == 4)
                                        {
                                            
                                            if (task.DeadLine.ToShortDateString() == DateTime.Now.ToShortDateString())
                                            {
                                                <tr style="background-color:#870505">
                                                    <td>
                                                        <a href="@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 4})" target="popup"
                                                            onclick="window.open('@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 4})', 'popup', 'width=600,height=600'); return false;">
                                                            @Html.DisplayName(task.Title)
                                                        </a>
                                                        @if (Model.isAdmin)
                                                        {
                                                            using (Html.BeginForm("FinishTask", "DashBoard", new { taskid = task.id, ProjectID = Model.m_CurrentProjectID }, FormMethod.Post))
                                                            {
                                                                <button type="submit" class="btn-block btn-success">Finished</button>
                                                            }

                                                        }
                                                    </td>
                                                </tr>
                                            }

                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        <a href="@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 4})" 
                                                           onclick="window.open('@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 4})', 'popup', 'width=600,height=600'); return false;">
                                                            @Html.DisplayName(task.Title)
                                                        </a>
                                                        @if (Model.isAdmin)
                                                        {
                                                            using (Html.BeginForm("FinishTask", "DashBoard", new { taskid = task.id, ProjectID = Model.m_CurrentProjectID }, FormMethod.Post))
                                                            {
                                                                <button type="submit" class="btn-block btn-success">Finished</button>
                                                            }

                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Omar Aref-->
                <div name="Omar Aref Table" class="col-md-4">
                    <!--for demo wrap-->
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0" id="3">
                            <thead>
                                <tr>
                                    <th>Omar Aref</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                @if (Model.m_AllTasks != null)
                                {
                                    foreach (var task in Model.m_AllTasks)
                                    {
                                        if (task.UserId == 3)
                                        {

                                            if (task.DeadLine.ToShortDateString() == DateTime.Now.ToShortDateString())
                                            {
                                                <tr style="background-color:#870505">
                                                    <td>
                                                        <a href="@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 3})" target="popup"
                                                           onclick="window.open('@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 3})', 'popup', 'width=600,height=600'); return false;">
                                                            @Html.DisplayName(task.Title)
                                                        </a>
                                                        @if (Model.isAdmin)
                                                        {
                                                            using (Html.BeginForm("FinishTask", "DashBoard", new { taskid = task.id, ProjectID = Model.m_CurrentProjectID }, FormMethod.Post))
                                                            {
                                                                <button type="submit" class="btn-block btn-success">Finished</button>
                                                            }

                                                        }
                                                    </td>
                                                </tr>
                                            }

                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        <a href="@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 3})"
                                                           onclick="window.open('@Url.Action("EditTask", "DashBoard", new { taskID = task.id, ProjectID = Model.m_CurrentProjectID, userID = 3})', 'popup', 'width=600,height=600'); return false;">
                                                            @Html.DisplayName(task.Title)
                                                        </a>
                                                        @if (Model.isAdmin)
                                                        {
                                                            using (Html.BeginForm("FinishTask", "DashBoard", new { taskid = task.id, ProjectID = Model.m_CurrentProjectID }, FormMethod.Post))
                                                            {
                                                                <button type="submit" class="btn-block btn-success">Finished</button>
                                                            }

                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>